body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 40px;
    padding: 20px;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    opacity: 50%;
    /* background-color: blueviolet; */
    text-align: center;
    border-bottom: 2px solid rgb(236, 226, 245);
}

#main-body {
    margin: 0 auto;
    margin-top: 45px;
    margin-bottom: 20px;
    padding: 20px;
    width: 600px;
    height: 290px;
    line-height: 1.5;
    background-color: rgb(236, 226, 245);
    font-weight: bold;
    color: black;
    border: 2px solid blueviolet;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#pointless-container {
    margin: 0 auto;
    width: 263px;
    height: 119px;
}

#score-board {
    margin: 25px;
    padding: 10px;
    float: left;
    position: relative;
}

#random-num {
    border: 2px solid white;
    padding: 20px 10px 20px 10px;
    width: 100px;
    height: 75px;
    float: left;
    position: relative;
    text-align: center;
    font-size: 70px;
}

#wins {
    color: green;
}

#losses {
    color: red;
}

#click {
    clear: both;
    text-align: center;
    font-size: 10px;
    margin: 0 auto;
    padding: 25px;
}

#crystals {
    margin: 0 auto;
    height: 133px;
    width: 500px;

}

.crystals {
    padding: 10px;
    float: left;
}

#red-crystal {
    padding: 23px 10px 23px 10px;
}

#user-score {
    clear: both;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

#current-score {
    border: 2px solid white;
    margin: 0 auto;
    padding: 20px 35px 20px 35px;
    width: 100px;
    height: 75px;
    font-size: 70px;
}